:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Light gray */
  border-top: 1px solid #ddd;
}

.footer-logo {
  height: 40px;
  width: auto;
}

.footer-text {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
}

.footer-text a {
  color: #007BFF; /* Primary blue */
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
